<body>
  <div class="container">
     <div class="jumbotron">
     <h1>Project Phase 3</h1>
     <p>Click the button to load the record from MongoDB</p>
     <button type="button" onclick="getData()" class= "btn btn-danger">Get Contents</button>
     </div>
  </div>
</body>