<body>
  <div class="container">
     <div class="jumbotron">
     <h1>Project Phase 3</h1>
     <p>Click the button to load the record from MongoDB</p>
     <p id="div1"><%= link_to "Submit", onclick: "getData(i)", class: "btn btn-danger" %></p>
     </div>
  </div>
</body>