<body>
  <div class="container">
     <div class="jumbotron">
     <h1>Project Phase 3</h1>
     <p>Click the button to load the record from MongoDB</p>
     <button type="button" class="btn btn-danger">Submit</button>
     </div>
  </div>
</body>
